# Port
PORT=1984

# This is all hatchet configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
HATCHET_APP_NAME=webmaker-hookshot
HATCHET_QUEUE_REGION=
HATCHET_QUEUE_URL=

# Login URL with basic auth e.g. http://testuser:password@localhost:3000
LOGIN_URL_WITH_AUTH=http://testuser:password@localhost:3000

# The secret used for BadgeKit API webhook calls
WEBHOOK_SECRET=

# BadgeKit API configuration
BADGEKIT_API_URL=
BADGEKIT_API_KEY=
BADGEKIT_API_SECRET=
BADGEKIT_API_SYSTEM=webmaker

# BadgeKit User API configuration
BADGEKIT_USER_API_URL=
BADGEKIT_USER_API_SECRET=

# The slug of the badge that grants a user permission to review badges in BadgeKit
MENTOR_BADGE_SLUG=webmaker-super-mentor
